@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@import url('./fonts.css');
:root {
	background-color: #eff0f2;
	direction: rtl;
	/* box-sizing: content-box; */
}


@layer components{
	.btn{
		@apply py-3 px-4 flex items-center justify-center rounded-lg text-sm
	}

	.btn--primary{
		@apply bg-primary-01 text-white
	}

	.btn--secondary{
		@apply bg-slate-300 text-gray-800
	}

	.btn--outline{
		@apply border border-slate-800 text-slate-800 
	}

	.btn--success{
		@apply bg-green-600 text-white
	}

	.btn--danger{
		@apply bg-error text-white
	}
}

body {
	font-family: 'IRANSans';
	direction: rtl;
}

.error_Message{
color: #dc2626;
font-size: x-small;

}
.react-tel-input .flag-dropdown-button {
    height: 4rem; /* ارتفاع مورد نظر را در این قسمت تعیین کنید */
}


/* react-phone-number-input styles */

.react-international-phone-input-container 
.react-international-phone-country-selector 
.react-international-phone-country-selector-button {
    height: 100%;
	padding: 0 16px;
	border: 1px solid #cbd5e1;
	border-radius: 0.5rem;
}

.react-international-phone-input-container 
.react-international-phone-country-selector 
.react-international-phone-country-selector-dropdown{
	top: 54px;
	left: 3px;
}

.custom-button-prev, .custom-button-next {
	/* background-color: #0693a4; */
	color: #0693a4;
	padding: 7px 7px;
	border-radius: 5px;
	font-size: xx-large;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
  }
  
  .custom-button-prev {
	/* left: 10px; */
  }
  
  .custom-button-next {
	/* right: 10px; */
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.swiper-button-prev,
.swiper-button-next{
	color: #0693a4 !important;
}


/* shop slider swiper */
.shop-slider .custome-pagination{
	@apply absolute !bottom-8 right-8 z-50
}

.shop-slider .custome-pagination .swiper-pagination-bullet{
	@apply !bg-gray-700 opacity-100 rounded-full duration-300 ease-out
}

.shop-slider .custome-pagination .swiper-pagination-bullet-active{
	@apply w-4 !bg-white shadow-md
}

.special-sell-slider .swiper-wrapper,
.best-sellers-slider .swiper-wrapper{
	@apply !h-[450px]
}

.selected-discounts-swiper .swiper-wrapper{
	@apply xl:!justify-center
}

.popular-brands-swiper .custome-pagination,
.course-categories-swiper .custome-pagination{
	@apply w-auto
}

.popular-brands-swiper .custome-pagination .swiper-pagination-bullet,
.course-categories-swiper .custome-pagination .swiper-pagination-bullet{
	@apply !bg-gray-400 opacity-100 rounded-full duration-300 ease-out
}

.popular-brands-swiper .custome-pagination .swiper-pagination-bullet-active,
.course-categories-swiper .custome-pagination .swiper-pagination-bullet-active{
	@apply w-4 !bg-primary-01
}


/* academy slider swiper */


/* ----- category header ----- */
.category .category__list{
	@apply  w-[968px] h-[420px] items-center justify-center hidden  fixed top-[68px] right-0 z-50 bg-white overflow-hidden
}

.category .category__list .category__list-items ul li .category__list-items-parent-btn{
	@apply  w-[200px] py-3 px-2 flex items-center text-[13px] font-semibold cursor-pointer border-y border-transparent;
}


/* map */
.leaflet-container .leaflet-control-container .leaflet-bottom{
	display: none !important;
}


/* react multi select */
.react-select-container .react-select__control{
	@apply w-full !h-[42px] !min-h-min appearance-none bg-transparent text-gray-700 border  border-primary-01 border-opacity-15 focus:!border-opacity-100 rounded-md !px-4  focus:!outline-none focus:!bg-white
}

.react-select-container .react-select__control .react-select__value-container{
	@apply !p-0 !m-0
}

.react-select-container .react-select__control .react-select__value-container .react-select__placeholder{
	@apply text-gray-700
}

.react-select-container .react-select__control .react-select__indicators{
	@apply !hidden
}